{% extends 'AppydoQuizBundle::layout.html.twig' %}

{% block title %}
    Gestionnaire de quiz
{% endblock %}

{% block content %}
<div id="list-content">
    {#<p><a class="next-step" href="http://127.0.0.1/~jimmyy/Symfony2/www/zip/export.zip">Télécharger le zip</a></p>#}
    <p><a class="next-step back" href="http://91.121.8.188/~backend2/zip/export.zip">Télécharger le zip</a></p>
</div>
{% endblock %}