<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
@import "layout.css";
</style>
<!--[if lte IE 7]>
<link href="ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">MySite<span>Name</span></a></h1>
			<p>Lorem ipsum phasellus</p>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="#" accesskey="1" title=""><span>Home</span></a></li>
				<li><a href="#" accesskey="2" title=""><span>Archives</span></a></li>
				<li><a href="#" accesskey="3" title=""><span>Downloads</span></a></li>
				<li><a href="#" accesskey="4" title=""><span>About Us</span></a></li>
				<li><a href="#" accesskey="5" title=""><span>Contact Us</span></a></li>
			</ul>
		</div>
	</div>
	<div id="page" class="container">
		<div id="content">
			<div id="content-bgtop">
				<div id="content-bgbtm">
					<div id="banner">
						<div class="image-style1 image-style1a"><a href="#"><img src="images/pics01.jpg" width="237" height="192" alt="" /><span></span></a></div>
						<h2>Tempus sed aliquam dolore veroeros nulla lorem?</h2>
						<p class="meta">Posted 6 hours ago by <a href="#">someone</a></p>
						<p class="link-style1"><a href="#"><span>Read more</span></a></p>
						<p class="link-style2"><a href="#"><span>33 Comments</span></a></p>
					</div>
					<div id="two-columns">
						<div id="column1">
							<div id="box1" class="box-style1">
								<h2 class="title">sed tempus malesuada</h2>
								<p class="byline">lorem ipsum dolor sit amet consequat</p>
								<div class="entry">
									<div class="image-style2 image-style2a"><a href="#"><img src="images/pics02.jpg" width="150" height="180" alt="" /><span></span></a></div>
									<p><strong>Risus vitae nibh</strong> convallis ornare urna, tempus eget molestie  pellentesque eros. Integer interdum et mauris, sed consectetur nisi. Nulla a purus amet nulla  elementum ut lacus.</p>
									<div class="meta">
										<p><span class="readmore"><a href="#">Read More</a></span><span class="comments"><a href="#">33 Comments</a></span></p>
									</div>
								</div>
							</div>
							<div class="divider">&nbsp;</div>
							<div id="box2" class="box-style1">
								<h2 class="title">magna purus veroeros</h2>
								<p class="byline">sed integer lorem volutpat nulla purus</p>
								<div class="entry">
									<div class="image-style2 image-style2a"><a href="#"><img src="images/pics03.jpg" width="150" height="180" alt="" /><span></span></a></div>
									<p><strong>Integer sem aliquam</strong> convallis ornare urna, tempus eget molestie vitae, pellentesque eros. Integer interdum et mauris, sed consectetur nisi. Nulla a purus amet nulla viverra  ut lacus.</p>
									<div class="meta">
										<p><span class="readmore"><a href="#">Read More</a></span><span class="comments"><a href="#">33 Comments</a></span></p>
									</div>
								</div>
							</div>
						</div>
						<div id="column2">
							<div id="box3" class="box-style1">
								<h2 class="title">blandit et volutpat</h2>
								<p class="byline">nullam sed conseuqat tempus</p>
								<div class="entry">
									<ul class="style1">
										<li class="first">
											<div class="image-style3 image-style3a"><a href="#"><img src="images/pics04.jpg" width="80" height="80" alt="" /><span></span></a></div>
											<p>Interdum mauris, sed consectetur nisi. Nulla purus viverra. <a href="#">More ...</a></p>
										</li>
										<li>
											<div class="image-style3 image-style3a"><a href="#"><img src="images/pics05.jpg" width="80" height="80" alt="" /><span></span></a></div>
											<p>Mauris sed consectetur nisi. Nulla etiam purus amet sed viverra lorem. <a href="#">More ...</a></p>
										</li>
										<li>
											<div class="image-style3 image-style3a"><a href="#"><img src="images/pics06.jpg" width="80" height="80" alt="" /><span></span></a></div>
											<p>Consectetur nisi. Nulla a purus amet sed viverra amet sed etiam. <a href="#">More ...</a></p>
										</li>
										<li>
											<div class="image-style3 image-style3a"><a href="#"><img src="images/pics07.jpg" width="80" height="80" alt="" /><span></span></a></div>
											<p>Nulla purus amet et sed viverra amet lorem ipsum dolor sit amet. <a href="#">More ...</a></p>
										</li>
									</ul>
									<p class="link-style3"><a href="#"><span>Browse Archives</span></a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix">&nbsp;</div>
				</div>
			</div>
		</div>
		<div id="sidebar">
			<div id="box4" class="box-style2">
				<h2 class="title">Ipsum consequat</h2>
				<div class="entry">
					<p>Integer sem aliquam convallis ornare urna, a tempus vitae, et pellentesque eros. Integer amet mauris, sed consectetur nisi. Nulla a purus amet.</p>
				</div>
			</div>
			<div id="box5" class="box-style2">
				<h2 class="title">Blandit adipiscing</h2>
				<div class="entry">
					<ul class="style2">
						<li class="first"><a href="#">Nullam id eros in risus</a></li>
						<li><a href="#">Varius vehicula vitae nibh</a></li>
						<li><a href="#">Nunc non porttitor nibh</a></li>
						<li><a href="#">Volutpat lorem et aliquam</a></li>
						<li><a href="#">Morbi pharetra commodo</a></li>
						<li><a href="#">Congue nullam sed erat</a></li>
					</ul>
				</div>
			</div>
			<div id="box6" class="box-style2">
				<h2 class="title">Manga et sectetur</h2>
				<div class="entry">
					<ul class="style2">
						<li class="first"><a href="#">Nullam id eros in risus</a></li>
						<li><a href="#">Varius vehicula vitae nibh</a></li>
						<li><a href="#">Nunc non porttitor nibh</a></li>
						<li><a href="#">Volutpat lorem et aliquam</a></li>
						<li><a href="#">Morbi pharetra commodo</a></li>
						<li><a href="#">Congue nullam sed erat</a></li>
						<li><a href="#">Consequat tempus etiam</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="container">
	<p class="menu-links"><a href="#">Home</a> | <a href="#">Archives</a> | <a href="#">Downloads</a> | <a href="#">About us</a> | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Information</a> | <a href="#">Contact Us</a></p>
	<p class="copyright">© 2012 mysitename. all rights reserved. lorem ipsum dolor sit amet tempus consequat.</p>
</div>
</body>
</html>
