{% extends '::'~theme~'/base.html.twig' %}

{% block title "Appydo" %}

{% block project %}
{% if project.name is defined %}
    <a class="brand" href="{{ path('_appydo_project',{'name':project.name}) }}">{{ project.name }}</a>
{% endif %}
{% endblock %}

{% block content %}

    <h1>{{ profil.username }}</h1>

{% endblock %}
