<h1>Payment creation</h1>

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type='hidden' value="5" name="amount" />
<input name="currency_code" type="hidden" value="EUR" />
<input name="shipping" type="hidden" value="0.00" />
<input name="tax" type="hidden" value="0.00" />
<input name="return" type="hidden" value="http://127.0.0.1/~jrobert/AppyShop/www/app_dev.php/payment/confirm" />
<input name="cancel_return" type="hidden" value="http://127.0.0.1/~jrobert/AppyShop/www/app_dev.php/payment/cancel" />
<input name="notify_url" type="hidden" value="http://127.0.0.1/~jrobert/AppyShop/www/app_dev.php/payment/validation" />
<input name="cmd" type="hidden" value="_xclick" />
<input name="business" type="hidden" value="plop_1336416339_biz@appydo.com" />
<input name="item_name" type="hidden" value="Nom de votre produit" />
<input name="no_note" type="hidden" value="1" />
<input name="lc" type="hidden" value="FR" />
<input name="bn" type="hidden" value="PP-BuyNowBF" />
<input name="custom" type="hidden" value="1" />
<input alt="Effectuez vos paiements via PayPal : une solution rapide, gratuite et sécurisée" name="submit" src="https://www.paypal.com/fr_FR/FR/i/btn/btn_buynow_LG.gif" type="image" /><img src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" border="0" alt="" width="1" height="1" />
</form>

<form action="{{ path('payment_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('payment') }}">
            Back to the list
        </a>
    </li>
</ul>
