{% extends 'AppydoQuizBundle::layout.html.twig' %}

{% block title %}
    Gestionnaire de quiz
{% endblock %}

{% block content %}
<!-- Top Content -->
<div id="top-content">
    <span class="rubrique">Gestionnaire de quiz</span>
    <a href="add-quiz.html" class="add-quiz">ajouter un quiz</a>
</div>
<!-- List Content -->
<div id="list-content">

    {% for manager in entities %}
        <div class="item">
            <div class="meta-quiz">
                <span class="title-quiz"><a href="zoom-quiz.html">Quiz n° {{manager.id}} : {{manager.name}}</a></span>
                <div class="desc-quiz">{{manager.description}}</div>
            </div>

            <div class="tools-quiz">
                <div class="suppr-quiz"><a href="#"><span>supprimer</span></a></div>
                <div class="edit-quiz"><a href="#"><span>éditer</span></a></div>
                <div class="export-quiz"><a href="#"><span>exporter</span></a></div>
            </div>
        </div>
    {% endfor %}

</div>
</div>
{% endblock %}